<settings>
  <servers>
    <server>
      <id>github</id>
      <username>phro-sudo</username>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>github</id>
          <url>https://maven.pkg.github.com/phro-sudo/GithubActionsTest</url>
          <releases>
            <enabled>true</enabled>
            <repositoryPriority>1</repositoryPriority>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <repositoryPriority>1</repositoryPriority>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>
</settings>
